src/
tsconfig.json
.vscode
.git
.gitignore
.github
webview-ui
test
package-lock.json
interactive-script-js
interactive-script-py
shared/
demo/
python_demo/
powershell_demo/
images/
pyrightconfig.json
documentation
build

*.map